<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./header.ejs") %>
    <style>
      .error {
        display: flex !important;
        align-items: center !important;
      }
    </style>
  </head>
  <body>
    <div class="row mt-3 error">
      <div class="alert alert-danger col-6 offset-3" role="alert">
        <p class="alert-heading"><%= err.message || "An error occurred" %></p>
      </div>
    </div>
  </body>
</html>
